<div class="gestor">
    <div class="contenido">
        <div class="img">
            <h1>DEPARTAMENTO DE MISIÓN</h1>
        </div>
        <div class="form">
               
                <h1>Login</h1>
                  <form class="login-form" (ngSubmit)="onLogin()">
                    <input type="text" [(ngModel)]="usuario" name="usuario" id="usuario"  placeholder="Usuario"/>
                    <input type="password" [(ngModel)]="password" name="password" id="password"  placeholder="Contraseña"/>
                    <button >login</button>
                    <p class="message">Ingrese su usuario y contraseña.</p>
                  </form>
        </div>
    </div>
</div>