.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vh;
}

.title span{
    font-size: 3em;
    padding-bottom: 7vh;
}

.cajon{
    display: flex;
    margin-bottom: 5vh;
    justify-content: center;
}



.proyec img{
    width: 30vw;
}
.proy_title{
    /* height: 4.5em; */
    padding: 10px;
    text-align: center;
    background-color: #FFD52F;
}

.proy_title h1{
    margin: 0;
}