<div class="contn">
  <button class="btn btn-dark" routerLink="/usuario/perfil">Atras</button>

  <h1>Formulario</h1>

  <div class="vacio"></div>
</div>

<div class="papa">
  <div class="mama">
    <form action="">
      <div class="hijo1">
        <input type="text" />
        <input type="text" />
        <input type="date" />
        <input type="text" />
        <input type="text" />
        <input type="text" />
        <input type="text" />
      </div>
      <hr />
      <div class="hijo2">
        <div class="">
          <p>Seleccione ¿A que programas asistio?</p>

          <input type="checkbox" /><label for="cbox2"
            >Este es mi segundo checkbox</label
          >
          <br />
          <input type="checkbox" /><label for="cbox2"
            >Este es mi segundo checkbox</label
          >
          <br />
          <input type="checkbox" /><label for="cbox2"
            >Este es mi segundo checkbox</label
          >
        </div>

        <input type="text" />

        <p>
          e delectus sit perferendis corporis doloribus sequi et aspernatur
          nulla optio eligendi beatae ipsam, magnam, impedit temporibus culpa
          enim. Ab, consequatur?
        </p>
        <input type="text" />

        <input type="text" />

        <input type="file" />
      </div>
    </form>
  </div>
</div>

<button>Enviar</button>
