<div class="contn">
    <button class="btn btn-dark" routerLink="/usuario/perfil">Atras</button>
  
    <h1>Formulario</h1>
  
    <div class="vacio"></div>
  </div>
<div class="papa">
    <div class="mama">
        <div class="hijo1">
            <!-- <h1>KAren Silva</h1>
            <h3>213123123-proyecto 1</h3>
            <h3>Estudiante</h3> -->

            <br> <br>
              <h2>Registrar Asistencia</h2>

              <ul>
                <li>Completa los formulario disponibles aquí</li>
            </ul>
            <button class="btn btn-dark" routerLink="/usuario/asistencia">registrar asistencia</button>
        </div>
        <div class="hijo2">

            <h2>Taller 2</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, libero velit explicabo optio, quasi fugiat ad sequi nesciunt amet voluptatibus nam officia dignissimos illo vero ab consequuntur inventore itaque atque!
            Molestias exercitationem assumenda sit fuga voluptatum harum ipsum aspernatur deleniti rerum ratione ipsa eum excepturi a quisquam facere tempore eius, totam maxime, repellendus possimus. Quod iure laudantium unde mollitia natus?
            Quos aliquid facere delectus incidunt voluptatibus magnam odio in ea ipsa, hic illum reiciendis voluptates a enim ex quo, nisi iure est placeat odit, sapiente dolor rerum. Placeat, id architecto.</p>

            <br>
            <h2>Formulario</h2>

            <ul>
                <li>Completa los formulario disponibles aquí</li>
            </ul>
            <br> <br>
            <table class="table custom-table">
                <thead>
                  <tr>
                    
                    <th scope="col">Order</th>
                    <th scope="col">Name</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>1392</td>
                    <td>James Yates</td>
                   
                  </tr>
                  <tr>
                   
                    <td>4616</td>
                    <td>Matthew Wasil</td>
                   
                  </tr>
                 
                </tbody>
              </table>
              <br> <br>
              <h2>Asistencia</h2>

              <ul>
                <li>Completa los formulario disponibles aquí</li>
            </ul>
            <button class="btn btn-dark">Ver</button>

        </div>
    </div>
</div>