<div class="house">
  <div class="dep">
    <div class="casa1">
      <div class="bloque">
        <h2>Nombre</h2>
        <h1>{{nombre}}</h1>
      </div>
      <div class="bloque">
        <h2>Facultad</h2>
        <h1>{{facultad}}</h1>
      </div>
      
      <div class="bloque">
        <h2>DNI</h2>
        <h1>{{dni}}</h1>
      </div>
      <div class="bloque">
        <h2>Ciclo</h2>
        <h1>Ciclo 5</h1>
      </div>
      <div class="bloque">
        <h2>Grupo</h2>
        <h1>Unico</h1>
      </div>
      <div class="bloque">
        <h2>Taller</h2>
        <h1>1</h1>
      </div>
    </div>
    
    <div class="casa2">
        <h1>Taller</h1>

        <table class="table custom-table">
           
            <tbody>
              <tr>
                <td class="tall"><a  routerLink="/usuario/taller">Taller1</a></td>
                <td>Lugar: Salon C314</td>
                <td></td>
                <td>16/05/2022</td>
                <td>7:30am-9:30am</td>
              </tr>
              
            
              
            </tbody>
          </table>
    </div>
  </div>
</div>
