.contn{
    display: flex;
    justify-content: space-between;
    margin: 5vh 0vh;
}

.papa{
    display: flex;
    height: 62vh;
    justify-content: center;
}
.mama{
    width: 70vw;
    display: flex;
    justify-content: center;
}
.mama form{
    display: flex;
    flex-direction: column;

    margin:4vh 0vh;
}

form input{
    margin-bottom: 15px;
}